In [ ]:
%pip install selenium
%pip install pandas

In [250]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import re
import pandas as pd
from bs4 import BeautifulSoup
import warnings

warnings.filterwarnings("ignore")

In [251]:

# Set up Chrome WebDriver
options = Options()
options.add_argument("--headless")  # Run Chrome in headless mode (without opening a browser window)
driver = webdriver.Chrome(options=options)

# Navigate to the page
url = "http://ned.ipac.caltech.edu/forms/OBJatt.html"
driver.get(url)
element = driver.find_element(By.XPATH,'//a[@href="javascript:unhide(\'selectOUT\');"]')
# Click the element using JavaScript
driver.execute_script('arguments[0].click();', element)
# # Find the checkbox element by its attributes
# checkbox = driver.find_element(By.NAME,'NO_LINKS')

# checkbox.click()
# Find the checkbox element by its attributes
checkbox = driver.find_element(By.XPATH,"//input[@type='checkbox' and @name='M' and @value='1168']")
checkbox.click()

submit_button = driver.find_element(By.XPATH, "//input[@type='submit'][@value='Submit Query']")
submit_button.click()

In [252]:
# Get the page source
page_source = driver.page_source

# Use regular expressions to find the text
page_info_pattern = r'Page \d+ of \d+'
page_info_match = re.search(page_info_pattern, page_source)

if page_info_match:
    page_info_text = page_info_match.group(0)
    page_number, total_pages = [int(part) for part in re.findall(r'\d+', page_info_text)]
    print("Page Number:", page_number)
    print("Total Pages:", total_pages)
else:
    # Handle case when the text is not found
    page_info_text = "Page information not found"

Page Number: 1
Total Pages: 381

In [253]:
current_page = 1  # Start from page 1
final_df = pd.DataFrame()
while True:

    # Locate the first table on the page using XPath
    table = driver.find_element(By.XPATH, '//table')
    # Extract the HTML content of the table
    table_html = table.get_attribute("outerHTML")
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(table_html, 'html.parser')

    # Find the <pre><strong> element that contains your data
    pre_strong = soup.find('pre')

    # Extract the text data from the <pre><strong> element
    data = pre_strong.get_text()

    # Split the data into lines
    lines = data.strip().split('\n')

    # Initialize an empty list to hold the split lines
    table_data = []

    for line in lines:
        # Skip lines that consist only of pipe characters
        if not re.match(r'^\|+$', line):
            # Use regular expression to split on '|' only if it's not within cell values
            row = re.split(r'(?<!\|)\|', line)

            # Clean up the row by removing leading and trailing spaces
            row = [cell.strip() for cell in row]

            # Append the cleaned row to the table data
            table_data.append(row)

    # Create a DataFrame from the table data
    df = pd.DataFrame(table_data)

    # Clean up the DataFrame by removing any leading or trailing spaces
    df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
    # Delete the first four rows (index 0 to 3)
    df = df.drop(index=range(4))

    # Delete the first and last columns
    df = df.drop(df.columns[[0,1, -1]], axis=1)

    # Reset the index to start from 0
    df = df.reset_index(drop=True)

    # Append the table data to the final_df
    final_df = pd.concat([final_df, df], ignore_index=True)
    print('size of df',final_df.shape)

    if current_page == total_pages:
        break  # Break out of the loop if you're on the last page

    links = driver.find_elements(By.XPATH, '//a[contains(@href, "/cgi-bin/OBJatt?")]')

    # Access the last link in the list and click it
    if links:
        last_link = links[-1]
        last_link.click()

    current_page += 1  # Increment the current page number

size of df (100, 8)
size of df (200, 8)
size of df (300, 8)
size of df (400, 8)
size of df (500, 8)
size of df (600, 8)
size of df (700, 8)
size of df (800, 8)
size of df (900, 8)
size of df (1000, 8)
size of df (1100, 8)
size of df (1200, 8)
size of df (1300, 8)
size of df (1400, 8)
size of df (1500, 8)
size of df (1600, 8)
size of df (1700, 8)
size of df (1800, 8)
size of df (1900, 8)
size of df (2000, 8)
size of df (2100, 8)
size of df (2200, 8)
size of df (2300, 8)
size of df (2400, 8)
size of df (2500, 8)
size of df (2600, 8)
size of df (2700, 8)
size of df (2800, 8)
size of df (2900, 8)
size of df (3000, 8)
size of df (3100, 8)
size of df (3200, 8)
size of df (3300, 8)
size of df (3400, 8)
size of df (3500, 8)
size of df (3600, 8)
size of df (3700, 8)
size of df (3800, 8)
size of df (3900, 8)
size of df (4000, 8)
size of df (4100, 8)
size of df (4200, 8)
size of df (4300, 8)
size of df (4400, 8)
size of df (4500, 8)
size of df (4600, 8)
size of df (4700, 8)
size of df (4800, 8)
size of df (4900, 8)
size of df (5000, 8)
size of df (5100, 8)
size of df (5200, 8)
size of df (5300, 8)
size of df (5400, 8)
size of df (5500, 8)
size of df (5600, 8)
size of df (5700, 8)
size of df (5800, 8)
size of df (5900, 8)
size of df (6000, 8)
size of df (6100, 8)
size of df (6200, 8)
size of df (6300, 8)
size of df (6400, 8)
size of df (6500, 8)
size of df (6600, 8)
size of df (6700, 8)
size of df (6800, 8)
size of df (6900, 8)
size of df (7000, 8)
size of df (7100, 8)
size of df (7200, 8)
size of df (7300, 8)
size of df (7400, 8)
size of df (7500, 8)
size of df (7600, 8)
size of df (7700, 8)
size of df (7800, 8)
size of df (7900, 8)
size of df (8000, 8)
size of df (8100, 8)
size of df (8200, 8)
size of df (8300, 8)
size of df (8400, 8)
size of df (8500, 8)
size of df (8600, 8)
size of df (8700, 8)
size of df (8800, 8)
size of df (8900, 8)
size of df (9000, 8)
size of df (9100, 8)
size of df (9200, 8)
size of df (9300, 8)
size of df (9400, 8)
size of df (9500, 8)
size of df (9600, 8)
size of df (9700, 8)
size of df (9800, 8)
size of df (9900, 8)
size of df (10000, 8)
size of df (10100, 8)
size of df (10200, 8)
size of df (10300, 8)
size of df (10400, 8)
size of df (10500, 8)
size of df (10600, 8)
size of df (10700, 8)
size of df (10800, 8)
size of df (10900, 8)
size of df (11000, 8)
size of df (11100, 8)
size of df (11200, 8)
size of df (11300, 8)
size of df (11400, 8)
size of df (11500, 8)
size of df (11600, 8)
size of df (11700, 8)
size of df (11800, 8)
size of df (11900, 8)
size of df (12000, 8)
size of df (12100, 8)
size of df (12200, 8)
size of df (12300, 8)
size of df (12400, 8)
size of df (12500, 8)
size of df (12600, 8)
size of df (12700, 8)
size of df (12800, 8)
size of df (12900, 8)
size of df (13000, 8)
size of df (13100, 8)
size of df (13200, 8)
size of df (13300, 8)
size of df (13400, 8)
size of df (13500, 8)
size of df (13600, 8)
size of df (13700, 8)
size of df (13800, 8)
size of df (13900, 8)
size of df (14000, 8)
size of df (14100, 8)
size of df (14200, 8)
size of df (14300, 8)
size of df (14400, 8)
size of df (14500, 8)
size of df (14600, 8)
size of df (14700, 8)
size of df (14800, 8)
size of df (14900, 8)
size of df (15000, 8)
size of df (15100, 8)
size of df (15200, 8)
size of df (15300, 8)
size of df (15400, 8)
size of df (15500, 8)
size of df (15600, 8)
size of df (15700, 8)
size of df (15800, 8)
size of df (15900, 8)
size of df (16000, 8)
size of df (16100, 8)
size of df (16200, 8)
size of df (16300, 8)
size of df (16400, 8)
size of df (16500, 8)
size of df (16600, 8)
size of df (16700, 8)
size of df (16800, 8)
size of df (16900, 8)
size of df (17000, 8)
size of df (17100, 8)
size of df (17200, 8)
size of df (17300, 8)
size of df (17400, 8)
size of df (17500, 8)
size of df (17600, 8)
size of df (17700, 8)
size of df (17800, 8)
size of df (17900, 8)
size of df (18000, 8)
size of df (18100, 8)
size of df (18200, 8)
size of df (18300, 8)
size of df (18400, 8)
size of df (18500, 8)
size of df (18600, 8)
size of df (18700, 8)
size of df (18800, 8)
size of df (18900, 8)
size of df (19000, 8)
size of df (19100, 8)
size of df (19200, 8)
size of df (19300, 8)
size of df (19400, 8)
size of df (19500, 8)
size of df (19600, 8)
size of df (19700, 8)
size of df (19800, 8)
size of df (19900, 8)
size of df (20000, 8)
size of df (20100, 8)
size of df (20200, 8)
size of df (20300, 8)
size of df (20400, 8)
size of df (20500, 8)
size of df (20600, 8)
size of df (20700, 8)
size of df (20800, 8)
size of df (20900, 8)
size of df (21000, 8)
size of df (21100, 8)
size of df (21200, 8)
size of df (21300, 8)
size of df (21400, 8)
size of df (21500, 8)
size of df (21600, 8)
size of df (21700, 8)
size of df (21800, 8)
size of df (21900, 8)
size of df (22000, 8)
size of df (22100, 8)
size of df (22200, 8)
size of df (22300, 8)
size of df (22400, 8)
size of df (22500, 8)
size of df (22600, 8)
size of df (22700, 8)
size of df (22800, 8)
size of df (22900, 8)
size of df (23000, 8)
size of df (23100, 8)
size of df (23200, 8)
size of df (23300, 8)
size of df (23400, 8)
size of df (23500, 8)
size of df (23600, 8)
size of df (23700, 8)
size of df (23800, 8)
size of df (23900, 8)
size of df (24000, 8)
size of df (24100, 8)
size of df (24200, 8)
size of df (24300, 8)
size of df (24400, 8)
size of df (24500, 8)
size of df (24600, 8)
size of df (24700, 8)
size of df (24800, 8)
size of df (24900, 8)
size of df (25000, 8)
size of df (25100, 8)
size of df (25200, 8)
size of df (25300, 8)
size of df (25400, 8)
size of df (25500, 8)
size of df (25600, 8)
size of df (25700, 8)
size of df (25800, 8)
size of df (25900, 8)
size of df (26000, 8)
size of df (26100, 8)
size of df (26200, 8)
size of df (26300, 8)
size of df (26400, 8)
size of df (26500, 8)
size of df (26600, 8)
size of df (26700, 8)
size of df (26800, 8)
size of df (26900, 8)
size of df (27000, 8)
size of df (27100, 8)
size of df (27200, 8)
size of df (27300, 8)
size of df (27400, 8)
size of df (27500, 8)
size of df (27600, 8)
size of df (27700, 8)
size of df (27800, 8)
size of df (27900, 8)
size of df (28000, 8)
size of df (28100, 8)
size of df (28200, 8)
size of df (28300, 8)
size of df (28400, 8)
size of df (28500, 8)
size of df (28600, 8)
size of df (28700, 8)
size of df (28800, 8)
size of df (28900, 8)
size of df (29000, 8)
size of df (29100, 8)
size of df (29200, 8)
size of df (29300, 8)
size of df (29400, 8)
size of df (29500, 8)
size of df (29600, 8)
size of df (29700, 8)
size of df (29800, 8)
size of df (29900, 8)
size of df (30000, 8)
size of df (30100, 8)
size of df (30200, 8)
size of df (30300, 8)
size of df (30400, 8)
size of df (30500, 8)
size of df (30600, 8)
size of df (30700, 8)
size of df (30800, 8)
size of df (30900, 8)
size of df (31000, 8)
size of df (31100, 8)
size of df (31200, 8)
size of df (31300, 8)
size of df (31400, 8)
size of df (31500, 8)
size of df (31600, 8)
size of df (31700, 8)
size of df (31800, 8)
size of df (31900, 8)
size of df (32000, 8)
size of df (32100, 8)
size of df (32200, 8)
size of df (32300, 8)
size of df (32400, 8)
size of df (32500, 8)
size of df (32600, 8)
size of df (32700, 8)
size of df (32800, 8)
size of df (32900, 8)
size of df (33000, 8)
size of df (33100, 8)
size of df (33200, 8)
size of df (33300, 8)
size of df (33400, 8)
size of df (33500, 8)
size of df (33600, 8)
size of df (33700, 8)
size of df (33800, 8)
size of df (33900, 8)
size of df (34000, 8)
size of df (34100, 8)
size of df (34200, 8)
size of df (34300, 8)
size of df (34400, 8)
size of df (34500, 8)
size of df (34600, 8)
size of df (34700, 8)
size of df (34800, 8)
size of df (34900, 9)
size of df (35000, 9)
size of df (35100, 9)
size of df (35200, 9)
size of df (35300, 9)
size of df (35400, 9)
size of df (35500, 9)
size of df (35600, 9)
size of df (35700, 9)
size of df (35800, 9)
size of df (35900, 9)
size of df (36000, 9)
size of df (36100, 9)
size of df (36200, 9)
size of df (36300, 9)
size of df (36400, 9)
size of df (36500, 9)
size of df (36600, 9)
size of df (36700, 9)
size of df (36800, 9)
size of df (36900, 9)
size of df (37000, 9)
size of df (37100, 9)
size of df (37200, 9)
size of df (37300, 9)
size of df (37400, 9)
size of df (37500, 9)
size of df (37600, 9)
size of df (37700, 9)
size of df (37800, 9)
size of df (37900, 9)
size of df (38000, 9)
size of df (38060, 9)

In [255]:
final_df.columns = ["Object Name", "RA", "Dec", "Object Type", "Redshift", "z Qual", "Galaxy Morphology","Activity Type","extra"]

In [256]:
driver.quit()

In [257]:
final_df.to_csv('Galaxy_Morphology_S_Catalogue.csv')

In [263]:
df= pd.read_csv('Galaxy_Morphology_S0_Catalogue.csv')

In [265]:
df.shape

(12551, 8)

In [259]:
df.head()

,Object Name,RA,Dec,Object Type,Redshift,z Qual,Galaxy Morphology,Activity Type
0,DUKST 537-038,00h00m02.72s,-23d22m03.8s,G,0.065806,SUN,S0,NaN
1,WISEA J000011.94-663046.2,00h00m11.93s,-66d30m46.0s,G,0.072564,SUN,S0,NaN
2,FAIRALL 1061,00h00m23.61s,-47d01m07.7s,G,0.019984,SLS,S0,NaN
3,NGC 7807,00h00m26.58s,-18d50m30.8s,G,0.025534,SLS,Sb?,NaN
4,ESO 193-IG 008,00h00m32.30s,-50d08m54.0s,GPair,NaN,NaN,pair,NaN

In [260]:
df['Dec'].dtype

dtype('O')

In [261]:
filtered_df = df[~df['Dec'].str.contains('\+')]

In [262]:
filtered_df.shape

(7600, 8)

In [266]:
# Convert the 'column_name' to a float
filtered_df['Redshift'] = filtered_df['Redshift'].astype(float)

# Filter rows where 'column_name' is less than or equal to 0.26
filtered_df = filtered_df[filtered_df['Redshift'] <= 0.26]

In [267]:
filtered_df.shape

(7345, 8)